 <!-- Navigation Bar -->
 <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Job<b>Star</b> Dashboard</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse topnav " id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url "dashboard" %}">Dashboard</a>
                </li>
                {%if user.UserType == 'Recruiter' %}
                <li class="nav-item">
                    <a class="nav-link" href=" {% url "AddJob" %} ">Add Job</a>
                </li>
                {% elif user.UserType == 'Seeker' %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url "AppliedJob" %}">Applied Jobs</a>
                </li>
                
                {% endif %}




                <li class="nav-item">
                    <a class="nav-link" href="{% url "JobList" %}">Job List </a>
                </li>

               
                <li class="nav-item">
                    <a class="nav-link" href="{% url "profile" %}">Profile</a>
                </li>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url "logoutpage" %}">Log Out</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
